extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p you are authenticated as #{user.displayName}
  else
    p
    | You are unknown please 
    a(href='auth/google') login
