extends layout

block append js
  script(src="https://cdn.auth0.com/js/lock-8.1.min.js")
  script(type="text/javascript").
    $(function() {
      var lock = new Auth0Lock(Auth0.clientID, Auth0.domain);
        var host = location.host;
        var redirect_to = Context.redirect_to || '/';
        lock.show({
            callbackURL: 'http://'+host+'/callback?redirect_to='+redirect_to,
            container: 'login'
          });

      $('.ui.modal')
        .modal('setting', 'closable', false)
        .modal('setting', 'duration', 0)
        .modal('show');

        setTimeout(function() {
           $('.ui.modal').modal('refresh');
        }, 300)
    })
  block append css
    style.
      #login {
        width: 300px;
        margin: 40px auto;
      }

block content
  .reset.ui.modal.small
    h1.header.ui.aligned.center.huge Jupyternow
    .content
      #login
